#table{
    position: fixed;
    width: 98%;
    height: 100%;
    overflow: scroll;
}

#table table, th, tr, td{
    border: 1px solid blue;
}

#table table{
    width: 100%;
}

#table tr{
    min-height: 20px;
}

.tooltip {
	cursor: help;
}

.tooltip+span{
	width: 525px;
    height: 252px;
	opacity: 0; /* Наш элемент прозрачен... */
	position: absolute;
	visibility: hidden; /* ...и скрыт. */
    background-repeat: no-repeat;
	transition: all 0.3s ease-in-out; /* Добавить плавности по вкусу */
}
		
.tooltip:hover+span{
	opacity: 1; /* Показываем его */
	visibility: visible;
}

#table .error{
    color: red;
    font-size: 20px;  
}





#table table {
	width: 100%;
	border: none;
	margin-bottom: 20px;
	border-collapse: separate;
}
#table table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #EDEDED;
	font-size: 14px;
	border-top: 1px solid #ddd;
}
#table table tr th:first-child, .table tr td:first-child {
	border-left: 1px solid #ddd;
}
#table table tr th:last-child, .table tr td:last-child {
	border-right: 1px solid #ddd;
}
#table table thead tr th:first-child {
	border-radius: 20px 0 0 0;
}
#table table thead tr th:last-child {
	border-radius: 0 20px 0 0;
}
#table table tbody td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}
#table table tbody tr:nth-child(even) {
	background: #F8F8F8;
}
#table table tbody tr:last-child td{
	border-bottom: 1px solid #ddd;
}
#table table tbody tr:last-child td:first-child {
	border-radius: 0 0 0 20px;
}
#table table tbody tr:last-child td:last-child {
	border-radius: 0 0 20px 0;
}