#filter{
    margin: 5px;
    height: 30px;
}

#filter label{
    font-style: normal;
}

#filter input{
    width: 200px;
    height: 80%;
    border-color: blue;
}

#filter button{
    width: 70px;
    height: 100%;
    background-color: rgb(0, 195, 255);
    border-color: rgb(0, 132, 255);
    border-radius: 4px;
    box-shadow: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: background-color 0.1s linear;
    cursor: pointer;
}

#filter button:hover{
    background-color: rgb(0, 162, 255);
}